<div class="container">
    <h5 class="card-title">教練資訊</h5>
    <div class="row text-center">

        <!-- Team item -->
        <div class="col-xl-6 col-sm-6 mb-5">
            <div class="card" style="width: 100px; height: 150px; margin: auto;">
                <img src="https://media.istockphoto.com/photos/portrait-of-a-smiling-woman-in-a-blue-shirt-picture-id515630181?k=6&m=515630181&s=612x612&w=0&h=yNkmHcUhqrud0qKkau4JnCQiZEHmjC_DWxNugu-3T3o="
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h12 class="card-title">陳大文</h12>
                </div>
            </div>
        </div><!-- End -->

        <!-- Team item -->
        <div class="col-xl-6 col-sm-6 mb-5">
            <div class="card" style="width: 100px; height: 150px; margin: auto;">
                <img src="https://media.istockphoto.com/photos/portrait-of-a-smiling-woman-in-a-blue-shirt-picture-id515630181?k=6&m=515630181&s=612x612&w=0&h=yNkmHcUhqrud0qKkau4JnCQiZEHmjC_DWxNugu-3T3o="
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h12 class="card-title">陳大文</h12>
                </div>
            </div>
        </div><!-- End -->

        <!-- Team item -->
        <div class="col-xl-6 col-sm-6 mb-5">
            <div class="card" style="width: 100px; height: 150px; margin: auto;">
                <img src="https://media.istockphoto.com/photos/portrait-of-a-smiling-woman-in-a-blue-shirt-picture-id515630181?k=6&m=515630181&s=612x612&w=0&h=yNkmHcUhqrud0qKkau4JnCQiZEHmjC_DWxNugu-3T3o="
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h12 class="card-title">陳大文</h12>
                </div>
            </div>
        </div><!-- End -->

        <!-- Team item -->
        <div class="col-xl-6 col-sm-6 mb-5">
            <div class="card" style="width: 100px; height: 150px; margin: auto;">
                <img src="https://media.istockphoto.com/photos/portrait-of-a-smiling-woman-in-a-blue-shirt-picture-id515630181?k=6&m=515630181&s=612x612&w=0&h=yNkmHcUhqrud0qKkau4JnCQiZEHmjC_DWxNugu-3T3o="
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h12 class="card-title">陳大文</h12>
                </div>
            </div>
        </div><!-- End -->
    </div>
</div>