<%- partial('./partial/sidemenu.ejs') %>
<section class="content aboutus flex-lg-grow-1">
  <h5 class="main-heading1">教練<span class="highlight">資訊</span></h5>
<div class="container-fluid">
<div class="row text-center">

  <!-- Team item -->
  <div class="col-xl-6 col-sm-6 mb-5">
    <div class="card" style="width: 350px; height: 300px; margin: auto;">
        <img src="" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"> <%= model.ChiName %> </a></h5>
          
        </div>
      </div>
</div><!-- End -->

  <!-- Team item -->
  <div class="col-xl-6 col-sm-6 mb-5">
      <div class="card" style="width: 350px; height: 300px; margin: auto;">
          <img src="https://www.mirrormedia.com.tw/assets/images/20170929144506-0e0e0f34a3086e8ee5fccc8f64b1963f-desktop.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">陳大文教練</h5>
          </div>
        </div>
  </div><!-- End -->

  <!-- Team item -->
  <div class="col-xl-6 col-sm-6 mb-5">
      <div class="card" style="width: 350px; height: 300px; margin: auto;">
          <img src="https://www.mirrormedia.com.tw/assets/images/20170929144506-0e0e0f34a3086e8ee5fccc8f64b1963f-desktop.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">陳大文教練</h5>
          </div>
        </div>
  </div><!-- End -->

  <!-- Team item -->
  <div class="col-xl-6 col-sm-6 mb-5">
      <div class="card" style="width: 350px; height: 300px; margin: auto;">
          <img src="https://www.mirrormedia.com.tw/assets/images/20170929144506-0e0e0f34a3086e8ee5fccc8f64b1963f-desktop.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">陳大文教練</h5>
          </div>
        </div>
  </div><!-- End -->
</div>
<div class="row text-center">

  <!-- Team item -->
  <div class="col-xl-6 col-sm-6 mb-5">
      <div class="card" style="width: 350px; height: 300px; margin: auto;">
          <img src="https://www.mirrormedia.com.tw/assets/images/20170929144506-0e0e0f34a3086e8ee5fccc8f64b1963f-desktop.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">陳大文教練</h5>
          </div>
        </div>
  </div><!-- End -->

  <!-- Team item -->
  <div class="col-xl-6 col-sm-6 mb-5">
      <div class="card" style="width: 350px; height: 300px; margin: auto;">
          <img src="https://www.mirrormedia.com.tw/assets/images/20170929144506-0e0e0f34a3086e8ee5fccc8f64b1963f-desktop.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">陳大文教練</h5>
          </div>
        </div>
  </div><!-- End -->

  <!-- Team item -->
  <div class="col-xl-6 col-sm-6 mb-5">
      <div class="card" style="width: 350px; height: 300px; margin: auto;">
          <img src="https://www.mirrormedia.com.tw/assets/images/20170929144506-0e0e0f34a3086e8ee5fccc8f64b1963f-desktop.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">陳大文教練</h5>
          </div>
        </div>
  </div><!-- End -->

  <!-- Team item -->
  <div class="col-xl-6 col-sm-6 mb-5">
      <div class="card" style="width: 350px; height: 300px; margin: auto;">
          <img src="https://www.mirrormedia.com.tw/assets/images/20170929144506-0e0e0f34a3086e8ee5fccc8f64b1963f-desktop.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">陳大文教練</h5>
          </div>
        </div>
  </div><!-- End -->
</div>
</div>
</section>