<aside class="cocah">
    <section>
      <h6 class="side-heading3"><span class="reflect" data-text="教練通訊">教練通訊</span></h6>
      <ul class="list-unstyled">
        <li><a class="side-button1 <%= req.path == '/coach' ? 'active':'' %>" href="/coach">註冊教練名單</a></li>
        <li><a class="side-button1" target="_blank" href="/doc/Registered Coach_2019.2.22_MAG.pdf">男子競技體操註冊教練</a></li>
        <li><a class="side-button1" target="_blank" href="/doc/Registered Coach_2019.2.22_WAG.pdf">女子競技體操註冊教練</a></li>
        <li><a class="side-button1" target="_blank" href="/doc/Registered Coach_2019.2.22_RG.pdf">藝術體操註冊教練</a></li>
        <li><a class="side-button1" target="_blank" href="/doc/Registered Coach_2019.2.22_TRA.pdf">彈網註冊教練</a></li>
        <li><a class="side-button1" target="_blank" href="/doc/Registered Coach_2019.2.22_AER.pdf">健美體操註冊教練</a></li>
        <li><a class="side-button1" target="_blank" href="/doc/Registered Coach_2019.2.22_ACRO.pdf">技巧體操註冊教練</a></li>
        
          <li class="dropdown">
 
            <a href="#" class="side-button1 dropdown-toggle" data-toggle="dropdown"><i class="fa fa-fw fa-plus"></i> 教練資訊 <span class="caret"></span></a>

            <ul class="dropdown-menu" role="menu">

              <li><a href="#">男子競技體操</a></li>

              <li><a href="#">女子競技體操</a></li>

              <li><a href="#">彈網</a></li>

              <li><a href="#">健美體操</a></li>
              <li><a href="#">技巧體操</a></li>

            </ul>

          </li>
    </ul>
    </section>
  </aside>